.sub-nav {
    padding: 0.75em;
    background-color: #fff;
    color: #000;

    >.container {
        display: flex;
        justify-content: space-between;
    }
}


.material-icons {
    vertical-align: middle;
}

.card {
    width: 98%;
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #000;

    &.padded {
        padding: 2em;
    }

    .light {
        color: $gray;
    }

    .greetings {
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    table {
        font-size: 0.75em;

        thead {
            background-color: $purple;
            color: #fff;
        }
    }
}

// .entries-table {
//   .dropdown-content {
//     height: 450px!important;
//   }
// }


@media (max-width: $breakpoint-mobile) {
    .card {
        width: 100%;
    }
}
