@import "../components/form-wizard";

.dashboard {
    .container {
        width: 90%;
    }

    .header {
        padding-top: 0.5em;
        background-color: $purple;
    }

    .sub-nav {
        padding: 0.75em;
        background-color: #fff;
        color: #000;

        >.container {
            display: flex;
            justify-content: space-between;
        }
    }

    .material-icons {
        vertical-align: middle;
    }

    .card {
        width: 85%;
        overflow-x: auto;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 0.5em;
        color: #000;

        &.padded {
            padding: 2em;
        }

        .light {
            color: $gray;
        }

        .greetings {
            margin: 0;
            font-size: 1.5em;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        table {
            font-size: 0.75em;

            thead {
                background-color: $purple;
                color: #fff;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .dashboard {
        .card {
            width: 100%;
        }
    }
}
