.error, .login {
    height: 100%;
    padding-bottom: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
        background-color: $purple;
        padding: 0.5em;
    }

    >.container {
        color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}

.footer {
    background-color: #3d3d3d;
    font-size: 0.6em;
}
