.home {
    ._welcome {
        font-family: 'tourmalinebold';
        font-size: 2em;
    }

    ._highlight {
        font-family: 'tourmalinelines';
        font-size: 3em;
    }
}

.bg-kidlat {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 100px);
    z-index: -1;
}

.modal {
    color: #5f5f5f;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    .sub-container {
        height: 100%;
        padding-bottom: 1em;
        flex: 1;
        background: url('/images/bg-kidlat.png') right top/contain no-repeat;
    }
}

@media (max-width: $breakpoint-mobile) {
    .home {
        margin-top: 4em;
        text-align: center;

        ._welcome {
            font-size: 1em;
        }

        ._highlight {
            font-size: 1.5em;
        }

        .blurb {
            font-size: 0.5em;
        }
    }

    .modal {
        width: 100%;
        top: 0 !important;
        height: 100% !important;
        max-height: 100%;
    }

    .main-wrapper .sub-container {
        background: unset;
    }
}
