nav {
  background-color: #5d59a5;
  box-shadow: none;
  padding: 0.5em;
  height: 100px;
}

nav .brand-logo {
  position: relative;
}

nav .brand-logo > img {
  max-width: 80px;
}

nav .nav-wrapper {
  align-items: center;
  justify-content: left;
}

nav ul li a {
  padding: 0px 15px;
}

.sub-nav {
  padding: 0.75em;
  background-color: #fff;
  color: #000;
}

.sub-nav > .container {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  vertical-align: middle;
}

.card {
  width: 98%;
  overflow-x: auto;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #000;
}

.card.padded {
  padding: 2em;
}

.card .light {
  color: #646464;
}

.card .greetings {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.card p {
  margin-top: 0;
  margin-bottom: 0;
}

.card table {
  font-size: 0.75em;
}

.card table thead {
  background-color: #5d59a5;
  color: #fff;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

