.loading-section {
    min-width: 100vh;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-pink-only {
        border-color: $pink;
    }

    &.hidden {
        display: none;
    }
}

.placeholder {
    pointer-events: none;
}
