.flex {
    display: flex;
}

.spacer {
    padding: 0.5em;
}

.mx-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 1em;
}

.p-1 {
    padding: 1em;
}

.mw-100 {
    max-width: 100%;
}
.mh-800px {
    max-height: 800px;
}
.overflow-auto {
    overflow: auto;
}

.overflow-y-visible {
    overflow: visible !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.event-none {
    pointer-events: none!important;
}

.w-80 {
    width: 80%!important;
}

.bg-color {
    &.-purple {
        background-color: $purple;
    }
}

.d-flex {
    display: flex;
}


.float {
    &.-right {
        float: right;
    }
}