body {
    background-color: whitesmoke;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

strong {
    font-weight: 700;
}

.main-wrapper {
    font-size: 1.5em;
    position: relative;
    min-height: 100vh;
}

[type=checkbox].filled-in:checked+span:not(.lever):after {
    border: 2px solid $pink;
    background-color: $pink;
}

[type=checkbox]:disabled+span:not(.lever) {
    cursor: not-allowed;
}

label {
    font-size: 0.8em;
}

ol.circle,
ul.circle {
    padding-left: 1em;

    >li {
        list-style-type: disc;
    }
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:before,
[type=radio].with-gap:checked+span:after {
    border: 2px solid $pink;
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:after {
    background-color: $pink;
}
