@font-face {
    font-family: 'tourmalinelines';
    src: url('/fonts/tourmaline-lines-webfont.woff2') format('woff2'),
        url('/fonts/tourmaline-lines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tourmalinebold';
    src: url('/fonts/tourmaline-bold-webfont.woff2') format('woff2'),
        url('/fonts/tourmaline-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-regular {
    font-weight: 400!important;
}

.font {
    &.-small {
        font-size: 0.75em;
    }
    &.-xs-small {
        font-size: 0.45em;
    }
}

.text-color {
    &.-black {
        color: #000;
    }

    &.-white {
        color: #fff;
    }

    &.-purple {
        color: $purple;
    }

    &.-pink {
        color: $pink;
    }

    &.-orange {
        color: $orange;
    }

    &.-red {
        color: $red;
    }

    &.-gray {
        color: $gray;
    }

    &.-green {
        color: $green;
    }
}
