
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-path: "/fonts/" !default;

// Breakpoints
$breakpoint-mobile: 600px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #5d59a5;
$pink: #D62888;
$red: #e3342f;
$orange: #ea6c00;
$yellow: #FEFA04;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #05a8d1;
$gray: #646464;
$light-gray: #b4b4b4;
$off-white: #f5f5f5;
