nav {
    background-color: $purple;
    box-shadow: none;
    padding: 0.5em;
    height: 100px;

    .brand-logo {
        position: relative;

        >img {
            max-width: 80px;
        }
    }

    .nav-wrapper {
        align-items: center;
        justify-content: left;
    }

    ul li a {
        padding: 0px 15px;
    }
}
