.btn {
    box-shadow: none;

    &.pink {
        background-color: $pink !important;
        color: #fff !important;

        &.inverted {
            background-color: transparent !important;
            color: $pink !important;
            border: 1px solid $pink;
        }
    }

    &.white {
        background-color: #fff !important;
        color: #000 !important;
    }

    &.green {
        background-color: $green !important;
        color: #fff !important;

        &.inverted {
            background-color: transparent !important;
            color: $green !important;
            border: 1px solid $green;
        }
    }

    &.red {
        background-color: $red !important;
        color: #fff !important;

        &.inverted {
            background-color: transparent !important;
            color: $red !important;
            border: 1px solid $red;
        }
    }

    &.orange {
        background-color: $orange !important;
        color: #fff !important;

        &.inverted {
            background-color: transparent !important;
            color: $orange !important;
            border: 1px solid $red;
        }
    }

    &:hover {
        box-shadow: none;
    }
}

.btn-flat {
    &.underlined {
        border-bottom: 1px solid $pink;
        color: $pink;
        font-weight: 700;
    }
}

.btn:disabled {
    cursor: not-allowed;
    pointer-events: unset;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: $pink !important;
}

// 
.next-entry {
    top: 30%;
    right: 0;
    z-index: 10;
    position: absolute;
}

.prev-entry {
    top: 30%;
    left: 0;
    z-index: 10;
    position: absolute;
}
