footer.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em;
    padding-bottom: 0.25em;
    background-color: $cyan;

    .input-field.col label,
    .input-field.col label.active {
        color: #fff;
        pointer-events: none;
    }

    .input-field.col input,
    .input-field.col input.active {
        border-bottom: 1px solid $yellow !important;
        color: #fff;
    }
}
