ul.stepper.horizontal {
    margin: 0;
    text-align: left;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ol.small {
        font-size: 12px;
    }

    .step {

        // width: auto;
        .step-title {
            // max-width: initial;
            font-size: 0.5em;
            // padding-right: 0;
            // padding-left: 62px;
            pointer-events: none;

            .material-icons {
                color: $gray;
            }
        }

        .step-content {
            padding-bottom: 0;

            p {
                font-size: 0.65em
            }

            .field.inline {
                display: flex;
                justify-content: center;
                align-items: center;

                >label {
                    font-size: 0.65em;
                    flex-grow: 1;
                }

                >.input-field {
                    width: 60%;

                    input[type=text],
                    input[type=date] {
                        color: $gray;
                        padding-left: 0.5em;
                        height: 2em;
                        border-radius: 5px;
                        border: 1px solid $light-gray;
                    }

                    input[type=text].invalid {
                        border: 1px solid $red;
                    }

                    &.w-100 {
                        width: 100%;
                    }
                }
            }
        }

        &.active .step-title,
        &.step.done .step-title {
            &::before {
                background-color: $pink;
            }
        }

        &::after {
            height: 0 !important;
        }

        .step-actions {
            position: relative !important;
        }
    }

    .number-indicator {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 8px;
        background: #b4b4b4;
        color: #fff;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    input.disabled {
        background-color: $off-white;
    }

    .credits-container,
    .key-files-container,
    .supporting-files-container,
    .reference-container {

        >.row,
        .file-field {
            position: relative;
        }

        .delete-node {
            position: absolute;
            top: 21px;
            right: -36px;
            display: flex;
            width: 30px;
            height: 30px;

            .material-icons {
                line-height: 0;
                font-size: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .input-field.col label,
    .input-field.col label.active {
        pointer-events: none;
    }

    .input-radio {
        display: block;
        margin: 0.25em;
        padding-left: 0.85em;
    }

    .indent-left {
        width: 45%;
    }
}

.files-list {
    display: inline-flex;
    .files {
        width: 130px;
        height: 130px;
        margin: 0.25em;
        color: #fff;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #d2cbcb;
        cursor: pointer;
    }
}

.no-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2cbcb;
    color: #fff;
    min-height: 300px;
}