nav {
    background-color: transparent;
    box-shadow: none;
    padding: 1.75em;
    height: auto;

    .nav-wrapper {
        display: flex;
    }

    .brand-logo>img {
        max-width: 108px;
    }

    .desktop-nav {
        padding-left: 7em;
        padding-top: 1em;
    }

    .desktop-nav>li>a {
        font-size: 0.75em;
    }

    .sidenav-trigger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .sidenav {
        padding-top: 2em;
        background-color: $cyan;
    }

    .sidenav>li>a {
        font-size: 1em;
        color: #fff;
    }
}
