.loadingoverlay {
    background: rgba(39,49,58,0.9) !important;
}

.loadingoverlay_element > svg > circle {
    fill: #d7a333 !important;
}

table .form-check-input.custom-checkbox:checked[type="checkbox"] {
  background-color: #fff;
}

table .form-check-input.custom-checkbox:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23d7a333' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.swal2-styled.swal2-confirm,  
.swal2-deny,  
.swal2-cancel { 
  background: #d7a333 !important; 
  border-color: #d7a333;  
  color: #793694 !important;  
  font-weight: 700; 
  font-size: 16px;  
  min-height: 66px; 
  min-width: 198px; 
  border-radius: 20px !important; 
} 
.swal2-styled.swal2-confirm:hover,  
.swal2-deny:hover,  
.swal2-cancel:hover { 
    color: #fff !important; 
} 
.link-color { 
  color: #793694 !important;  
  font-weight: 700; 
}

.dataTables_paginate > .pagination > .active > a {
    /*justify-content: flex-start;*/
    background: #3b4a56 !important;
    border-color: #3b4a56 !important;
}

#v-pill-tab > li.active {
  background: #3b4a56;
}