$gold: #d7a333;
$brown: #5d2800;
$dark1: #1a2735;
$dark2: #27313a;
$dark3: #384753;
$light1: #fff;
$light2: #dce3ea;
$light3: #61798e;
$light4: #c9d2da;
$blue: #2e4a62;
$header-bg: #223448;
$ui4: #455665;
$ui5: #3b4a56;
$ui6: #27313a;
$incomplete: #f28e45;
$completed: #4ecb71;

html,
body {
  height: 100%;
}
body {
  min-width: 1180px;
  font-family: "Inter", sans-serif !important;
}

// Custom Utils
.fs-18 {
  font-size: 18px;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.brown {
  color: $brown;
}
.mt-46 {
  margin-top: 46px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.divider {
  border: 1px solid rgba(201, 210, 218, 0.5);
}
.ms-n1 {
  margin-left: -0.35rem !important;
}
.me-n1 {
  margin-right: -0.35rem !important;
}
.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.px-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.minHeight80 {
  min-height: 80px;
}
.border-divider {
  height: 0.5px;
  width: 100%;
  background: rgba(201, 210, 218, 0.3);
}
.maxWidth {
  max-width: 980px !important;
  margin: 0 auto;
  width: 100%;
}

.bg {
  background-color: #2e4a62;
  min-height: calc(100vh - 245px);

  &:before {
    content: "";
    display: block;
    background-image: url("../img/bg-image.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
  }
}

.wrapper {
  // max-width: 1440px !important;
  margin: auto;
  // width: 1440px !important;
  position: relative;

  &-default {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    position: relative;

    &.fullWidth {
      max-width: 100%;
    }

    &.pt72 {
      padding-top: 70px;
    }

    .minHeight {
      min-height: calc(100vh - 315px);
    }

    .py72 {
      padding: 70px 0;
    }
  }
}

.header {
  background: $header-bg;
  .navbar {
    padding: 3px 0;
    min-height: 70px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $light1;
    padding: 0.5rem 1rem;

    &.active {
      opacity: 0.75;
    }
  }
}

.card.jumbutron {
  border: 0;
  background: $light1;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(97, 121, 142, 0.15);
  padding: 37px 100px;
  min-height: 170px;
  letter-spacing: -0.022em;

  h1 {
    color: $dark1;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: $dark3;
    margin: 0;
  }
}

.entry-tabs {
  .nav-tabs {
    background: $ui6;

    &.fiveTabs {
      justify-content: center;

      .nav-item {
        min-width: 195px;
      }
    }

    .nav-item {
      min-width: 16.666666667%;
    }

    .nav-link {
      font-size: 15px;
      padding: 19px 2px;
      height: 60px;
      color: $light1;
      border-radius: 0;
      border: 0;
      width: 100%;

      &::before {
        display: inline-block;
        content: "";
        background-color: $ui4;
        border: 3px solid #94a6b5;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: -5px 0;
        margin-right: 5px;
      }

      &.active {
        background-color: $light1;
        color: $dark1;
        font-weight: 700;

        &::before {
          background: $light1;
          border: 3px solid $gold;
        }
      }

      &.done::before {
        // content: "\2713";
        // color: $gold;
        border: 0;
        // font-size: 20px;
        display: inline-block;
        content: "";
        vertical-align: -0.125em;
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23d7a333' xmlns='http://www.w3.org/2000/svg'><path d='M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z' /></svg>");
        background-repeat: no-repeat;
        background-size: 21px 21px;
        width: 25px;
        height: 22px;

        background-color: transparent;
      }

      &:hover {
        border: 0;
      }
    }
  }
  .tab-content {
    background: white;
    min-height: calc(100vh - 519px);

    .tab-body {
      padding: 50px 100px;
    }
  }
}

.tab-actions {
  background: $light1;
  border-top: 1px solid $light4;
  min-height: 80px;
  padding: 20px 100px;

  .top-action span {
    color: $ui6;
    line-height: 1;
    letter-spacing: -0.022em;
  }
}

.review {
  scroll-behavior: smooth;
  .page-title {
    font-size: 26px;
    font-weight: 600;
    color: $ui6;
  }

  &-card {
    border: 0.75px solid $light4;
    border-radius: 10px;
    padding: 25px 50px;

    h3 {
      color: $dark1;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.022em;
      margin-bottom: 8px;
    }

    p {
      color: $dark3;
      font-size: 16px;
      font-weight: normal;
    }

    a.action {
      text-decoration: none;

      i {
        color: $gold;
        font-size: 25px;
      }
      span {
        font-weight: 600;
        font-size: 14px;
        color: $dark1;
      }
    }
  }
  &-line {
    // min-height: 75px;
    border-bottom: 1px solid rgba(201, 210, 218, 0.5);
    column-gap: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 23px 0;

    &:last-child {
      border-bottom: 0;
    }

    .label,
    .value {
      width: 50%;
      color: $dark1;
      font-weight: 500;
    }
    .label {
      font-size: 16px;
    }
    .value {
      font-size: 18px;
    }
    .img {
      img {
        max-width: 272px;
        height: auto;
      }
    }
  }
  .links {
    margin-top: 30px;
    a {
      text-decoration: none;
      margin: 0 26px;
      color: $light3;
      font-size: 18px;
      font-weight: 600;
      &:hover {
        color: $dark1;
      }
    }
  }
}

.entry-card {
  border: 1px solid $light4;
  border-radius: 5px;
  padding: 30px;

  h3 {
    color: $dark1;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.022em;
    margin-bottom: 8px;
  }

  ul.hori-list-ul > li {
    color: $dark3;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.022em;
  }
}

.file-upload {
  padding: 20px 25px;
  background: rgba(201, 210, 218, 0.3);
  border: 2px dashed $light4;
  border-radius: 5px;
  min-height: 100px;
  cursor: pointer;
}

.charcount {
  color: $dark3;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  display: block;
}

.top-action {
  display: flex;
  align-items: center;
  text-decoration: none;
  i {
    color: $gold;
    font-size: 20px;
  }
  span {
    color: $light1;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.022em;
  }
}
.page-title {
  color: $light1;
  font-weight: 700;
  font-size: 38px;
}
.heading {
  &-title {
    color: $dark1;
    font-size: 22px;
    letter-spacing: -0.022em;
  }
  &-desc {
    color: $dark3;
    font-size: 16px;
    font-weight: normal;
  }
}

.tabs {
  margin: 80px auto 0;

  .nav-pills {
    justify-content: center;
    .nav-link {
      color: $light3;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.022em;
      padding: 0.5rem 1.8rem;

      &.active {
        background-color: transparent;
        color: $dark1;

        &:after {
          margin-top: 10px;
          content: "";
          display: block;
          height: 4px;
          background: $gold;
          width: 100%;
        }
      }
    }
    &.show {
      > .nav-link {
        background-color: transparent;
        color: $dark1;
        font-weight: 600;
      }
    }
  }

  &.entry {
    margin-top: 30px;
    .nav-pills {
      .nav-link {
        color: $light2;

        &.active {
          background-color: transparent;
          color: $light1;
        }
      }
    }
    .tab-content {
      background: $light1;
      max-width: 100%;
      width: 100%;
      margin: 36px auto;
      border-radius: 10px;
    }
  }

  .tab-content {
    max-width: 770px;
    width: 100%;
    margin: 60px auto;

    .heading-title {
      color: $brown;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.022em;
    }
    .sub-header {
      color: $dark3;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.022em;
    }

    .hori-list {
      &.divider {
        padding-bottom: 50px;
        border: 0;
        border-bottom: 1px solid rgba(69, 86, 101, 0.5);
      }
      &-ul {
        li {
          font-size: 18px;
          .label {
            font-weight: 700;
          }

          p {
            color: $dark3;
          }
        }
      }
    }
  }
}

.footer {
  background: $ui6;
  padding: 46px 0;
  position: relative;

  &-links {
    font-size: 16px;
    color: $gold;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    &--first {
      width: 323px;
    }

    .label {
      padding-right: 5px;
      margin-bottom: 13px;
    }

    .value {
      color: $light2;
      font-weight: 400;
    }

    a.value {
      text-decoration: underline;
    }
  }
}

.btn {
  &.primary {
    background: $gold;
    border-color: $gold;
    color: $brown;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $gold !important;
      border-color: $gold !important;
    }

    &:focus,
    &:active,
    &.active {
      box-shadow: none !important;
    }
  }

  &-outline {
    &-primary {
      &.primary {
        background: transparent;
        color: $light1;
      }
      &.brown {
        color: $brown;
      }
    }
  }
  &.lg {
    font-size: 16px;
    min-height: 66px;
    min-width: 198px;
    border-radius: 20px;
  }
  &.small {
    font-size: 16px;
    min-height: 48px;
    min-width: 175px;
    border-radius: 12px;
  }
}

.form {
  label {
    color: $dark1;
    font-size: 16px;
    letter-spacing: -0.022em;

    &.fw-500 {
      font-weight: 500;
    }

    &.fs-18 {
      font-size: 18px;
    }
  }

  .span {
    color: $dark3;
    font-size: 15px;
    font-weight: normal;
  }

  input,
  select,
  textarea {
    border: 1px solid $light4;
    border-radius: 5px;

    &.lg {
      height: 60px;
    }

    &.custom-select {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d7a333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      background-size: 18px 16px;
    }

    &.fs-18 {
      font-size: 18px;
    }
  }

  .custom-checkbox {
    &.form-check-input {
      border: 3px solid $light4;
      height: 30px;
      width: 30px;
      &:checked[type="radio"] {
        background-color: white;
        border-color: $gold;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='1.7' fill='%23d7a333'/%3e%3c/svg%3e");
        background-size: 30px 30px;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .form-check .form-check-input {
    margin-top: 0;
  }
}

.signin {
  background: white;

  .header-wrapper {
    margin-bottom: 40px;
  }

  h2 {
    color: $dark1;
    letter-spacing: -0.022em;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  p {
    color: $dark3;
    font-size: 16px;
    letter-spacing: -0.022em;
  }

  .img-banner {
    max-width: 841px;
  }

  &-form {
    padding: 50px 60px;
    width: 100%;
    max-width: 600px;
    min-width: 550px;
    flex: 1;

    form {
      width: 100%;

      label {
        margin-bottom: 10px;
        font-weight: 500;
      }

      input {
        color: $light3;
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.022em;
      }

      button {
        min-width: 227px;
      }
    }

    .parag {
      font-size: 16px;
      font-weight: normal;
      color: $dark3;
      margin-bottom: 5px;
    }

    .link-signin {
      color: $brown;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 700;
    }

    &-footer {
      h3 {
        color: $dark3;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.022em;
        margin-bottom: 10px;
      }

      ul.info {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        > li {
          display: flex;
          margin-bottom: 5px;
          align-items: center;

          img {
            width: 15px;
            height: 15px;
          }

          a,
          span {
            color: $dark3;
            font-size: 15px;
            letter-spacing: -0.022em;
            margin-left: 10px;
            cursor: pointer;
            border-bottom: 1px solid $dark3;
            text-decoration: none;

            &:hover {
              text-decoration: none;
              border-bottom: 1px solid $gold;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.invoice {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  .page-title {
    font-weight: 600;
    font-size: 30px;
    color: $ui6;
    margin-bottom: 18px;
  }
  .desc {
    color: $dark3;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
  }

  &-table {
    margin-top: 30px;
    table {
      thead {
        background-color: $ui5;
        color: $light1;
        height: 62px;
        vertical-align: middle;

        th {
          padding: 0 20px;
        }
      }
      tbody {
        tr {
          height: 62px;
          vertical-align: middle;
          td,
          label {
            padding: 0 20px;
            color: $dark1;
            font-size: 16px;
            font-weight: normal;

            label {
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    &-label {
      padding-left: 10px;
    }
    &-input {
      &.custom-checkbox {
        margin-top: 0;
        width: 30px;
        height: 30px;
        background-color: $light1;
        border-color: $light4;
      }
    }
    &-input.custom-checkbox:focus {
      box-shadow: none;
    }
    &-input.custom-checkbox:checked {
      background-color: $light1;
    }
    &-input.custom-checkbox:checked[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23d7a333' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
  }

  .total {
    color: $dark3;
    font-size: 16px;
    font-weight: normal;

    span {
      font-weight: 700;
      font-size: 22px;
      color: $dark1;
      margin-left: 22px;
    }
  }
}

.entries {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  .page-title {
    font-weight: 600;
    font-size: 30px;
    color: $dark1;
  }
  .top-action {
    text-decoration: none;
    i {
      font-size: 18px;
      margin-bottom: -3px;
    }
    span {
      font-weight: 600;
      font-size: 18px;
      color: $ui6;
      padding-right: 5px;
    }
  }
  &-cards {
    margin-top: 25px;
    .custom-card {
      border: 1px solid $light4;
      border-radius: 10px;
      padding: 13px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }

      &-col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 26px;

        img {
          max-width: 149px;
          height: auto;
        }
        &-info {
          max-width: 400px;
          h2 {
            color: $dark3;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 4px;
            letter-spacing: -0.022em;
          }
          p {
            color: $dark1;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: -0.022em;
          }
        }
      }
    }
  }
}

.state {
  &.dark {
    .title {
      color: $dark1;
      font-size: 28px;
    }
    .desc {
      color: $dark3;
    }
  }
  .title {
    font-size: 34px;
    font-weight: normal;
    letter-spacing: -0.022em;
    color: $light1;
    line-height: 48px;
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    color: $light2;
    letter-spacing: -0.022em;
    line-height: 26px;
  }
}

.dashboard {
  .page-title {
    font-weight: 600;
    font-size: 34px;
    color: $dark1;
    letter-spacing: -0.022em;
  }
  .tabs {
    margin-top: 22px;
    &-divider {
      border-bottom: 1px solid $light4;
    }
    .nav-pills {
      .nav-item {
        &:first-child .nav-link {
          padding-left: 0;
        }
        .nav-link {
          padding: 0.5rem 2.8rem 0;
        }
      }
    }

    .tab-content {
      margin-top: 46px;
      max-width: 980px;
    }
  }

  &-cards {
    .custom-card {
      border: 1px solid $light4;
      border-radius: 10px;
      background: $light1;
      padding: 25px 40px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      align-items: center;
      min-height: 109px;

      &:last-child {
        margin-bottom: 0;
      }

      &-info {
        max-width: 690px;
        h2 {
          color: $dark1;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          letter-spacing: -0.022em;
          line-height: 1;
        }
        p {
          color: $dark1;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0;
          letter-spacing: -0.022em;
        }
      }

      .info-status {
        position: relative;
        padding-left: 25px;
        display: flex;
        column-gap: 20px;
        &::before {
          content: "";
          display: block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          position: absolute;
          background: $incomplete;
          left: 0;
          top: 50%;
          margin: -7.5px 0;
        }

        &.completed:before {
          background: $completed;
        }
        p:nth-child(2n) {
          padding-left: 20px;
          border-left: 1px solid #94a6b5;
        }
      }
    }
  }

  &.judging {
    .tabs {
      margin-top: 20px;
    }
    .label {
      &-title,
      .top-action span {
        font-size: 18px;
        font-weight: 600;
        color: $dark3;
        letter-spacing: -0.022em;
      }

      .top-action span {
        font-weight: 400;
      }
    }
    .nav-pills {
      .nav-item {
        .nav-link {
          padding: 0.5rem 1.25rem 0;
          letter-spacing: -0.022em;
        }
      }
    }

    .tab-content {
      margin-top: 30px;
      margin-bottom: 0;
      max-width: 100%;
      p {
        color: $dark1;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.022em;
      }
    }

    .images {
      column-gap: 20px;
      row-gap: 20px;
      img {
        max-width: 272px;
        height: auto;
        max-height: 153px;
      }
    }

    .entries {
      &-cards {
        .custom-card {
          padding: 0;
          align-items: stretch;
          &-col {
            padding: 13px;
            border-right: 1px solid $light4;
            flex: 1;
            &-info {
              padding-right: 2rem;
              max-width: 100%;

              h2 {
                font-weight: 400;
                font-size: 20px;
                color: $dark3;
              }
            }
          }
          &-col2 {
            max-width: 320px;
            width: 100%;
            padding: 20px 25px 20px 40px;
            display: flex;
            row-gap: 20px;
            flex-direction: column;
            justify-content: space-between;

            a,
            span {
              color: $brown;
              font-size: 16px;
              font-weight: normal;
              letter-spacing: -0.022em;
            }

            a:hover span {
              color: $dark3;
            }

            span.status,
            span.status span {
              color: $dark1;
            }
          }
        }
      }
    }
  }
}

.tab-title,
.sub-label {
  font-size: 18px;
  color: $dark1;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -0.022em;
}

.sub-label {
  color: $light3;

  span {
    color: $dark1;
    font-weight: 400;
    padding-left: 5px;
  }
}

.block-title {
  font-size: 24px;
  color: $dark1;
  font-weight: 600;
  letter-spacing: -0.022em;
}

.sticky {
  position: sticky;
  top: 70px;
}

.left-panel {
  background: $ui6;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      min-height: 40px;
      display: flex;
      align-items: center;
      @extend .px-30;

      span {
        color: $light1;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.022em;
        padding-left: 20px;
      }

      &::before {
        display: inline-block;
        content: "";
        background-color: $ui4;
        border: 3px solid #94a6b5;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: -5px 0;
      }

      &.active {
        &::before {
          background: $ui5;
          border: 3px solid $gold;
        }
      }

      &.done {
        &::before {
          border: 0;
          display: inline-block;
          content: "";
          background-color: transparent;
          vertical-align: -0.125em;
          background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23d7a333' xmlns='http://www.w3.org/2000/svg'><path d='M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z' /></svg>");
          background-repeat: no-repeat;
          background-size: 21px 21px;
          width: 25px;
          height: 22px;
        }
        span {
          padding-left: 15px;
        }
      }

      &:last-child {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.022em;
        color: $light1;
        min-height: 69px;
        position: relative;
        margin-top: 1.5rem;

        span {
          font-size: 18px;
          font-weight: 600;

          &:before,
          &:after {
            content: "";
            display: block;
            height: 0.5px;
            width: 100%;
            background: rgba(201, 210, 218, 0.3);
            border: 0;
            margin: 0;
            position: absolute;
            left: 0;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }
        }
      }
    }
  }
}

.right-panel {
  overflow-y: auto;
}

.category-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.022em;
  color: $light1;
  // line-height: 1;
}

.video-wrapper {
  margin-top: 40px;
  margin-bottom: 32px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    // width: 100%;
    // max-height: 625px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.announcement {
  p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.022em;
    color: $dark3;
    margin-bottom: 25px;
  }
}
.foating-wrapper {
  position: fixed;
  bottom: 215px;
  z-index: 1;
  left: 0;
  // padding-left: 322px;
}
.floating {
  background: $light1;
  border-radius: 10px;
  min-height: 70px;
  border: 1px solid rgba(201, 210, 218, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(148, 166, 181, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  .form-check {
    padding: 25px 20px;
    border-right: 1px solid $light4;
    margin-bottom: 0;

    &:last-child {
      border-right: 0;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-left: 10px;
      color: $dark1;
      font-size: 16px;
      font-weight: 400;
    }

    & .form-check-input {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.voting-modal {
  .form-check {
    display: flex;
    align-items: center;
    &-label {
      padding-left: 15px;
    }
    &-input {
      &.custom-checkbox {
        margin-top: 0;
        width: 30px;
        height: 30px;
        background-color: $light1;
        border-color: $light4;
      }
    }
    &-input.custom-checkbox:focus {
      box-shadow: none;
    }
    &-input.custom-checkbox:checked {
      background-color: $light1;
    }
    &-input.custom-checkbox:checked[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23d7a333' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
  }

  .modal-content {
    background: #ffffff;

    border: 0.5px solid #94a6b5;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px rgba(97, 121, 142, 0.12);
    border-radius: 15px;
    padding: 50px 45px 40px;

    .modal-header {
      border-bottom: 0;
      padding: 0;
      position: relative;

      .btn-close {
        position: absolute;
        top: -20px;
        right: -20px;
        margin: 0;
        padding: 0;

        box-sizing: content-box;
        width: 30px;
        height: 30px;
        color: #000;
        background: transparent
          url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
          center/30px auto no-repeat;
      }
    }
  }

  .selection {
    .question {
      color: $dark1;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: -0.022em;
      padding-right: 44px;
    }
    .form-check {
      margin-bottom: 15px;

      label {
        color: $dark3;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.022em;
      }
    }
  }
}

.landing {
  background: url("../img/zombie-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.horizontal-line {
  height: 62px;
  width: 1px;
  background: $light4;
  margin: 0 30px;
}

.contact-us {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.022em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $gold;
  }
}

.house-center {
  object-fit: contain;
  height: auto;
  position: absolute;
  bottom: 103px;
  // top: 50%;
  left: 50%;
  margin: 0 -571px;
  z-index: 2;

  @media (max-width: 1366px) {
    max-height: 650px;
    margin: 0 -520px;
  }
}

.lower-part {
  background: url("../img/wires.png") no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 337px;
  width: 100%;
  position: relative;

  &:after {
    content: "";
    background: linear-gradient(
      180deg,
      rgba(30, 49, 66, 0) 0%,
      rgba(24, 39, 53, 0.94) 41.79%,
      #14202b 70.54%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  &-content {
    padding-bottom: 52px;
    z-index: 4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;

    &.dl-rules-only {
      padding-bottom: 100px;
    }

    p {
      color: $light1;
      font-size: 20px;
      letter-spacing: -0.022em;
      font-weight: 400;

      span {
        color: $gold;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      column-gap: 20px;
    }
  }
}

.contact-title {
  font-size: 20px;
}

.footer-links {
  &.contact {
    color: $brown;
    letter-spacing: -0.022em;

    span,
    .value {
      color: $dark1;
    }

    .separator {
      column-gap: 10px;
      .value {
        padding-right: 15px;
        position: relative;
        &:after {
          content: "/";
          display: block;
          color: $light4;
          position: absolute;
          top: -2px;
          right: 4px;
        }

        &:last-child {
          padding-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}
