.flex {
  display: flex;
}

.spacer {
  padding: 0.5em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1em;
}

.p-1 {
  padding: 1em;
}

.mw-100 {
  max-width: 100%;
}

.mh-800px {
  max-height: 800px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-visible {
  overflow: visible !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.event-none {
  pointer-events: none !important;
}

.w-80 {
  width: 80% !important;
}

.bg-color.-purple {
  background-color: #5d59a5;
}

.d-flex {
  display: flex;
}

.float.-right {
  float: right;
}

@font-face {
  font-family: "tourmalinelines";
  src: url("/fonts/tourmaline-lines-webfont.woff2") format("woff2"), url("/fonts/tourmaline-lines-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tourmalinebold";
  src: url("/fonts/tourmaline-bold-webfont.woff2") format("woff2"), url("/fonts/tourmaline-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-regular {
  font-weight: 400 !important;
}

.font.-small {
  font-size: 0.75em;
}

.font.-xs-small {
  font-size: 0.45em;
}

.text-color.-black {
  color: #000;
}

.text-color.-white {
  color: #fff;
}

.text-color.-purple {
  color: #5d59a5;
}

.text-color.-pink {
  color: #D62888;
}

.text-color.-orange {
  color: #ea6c00;
}

.text-color.-red {
  color: #e3342f;
}

.text-color.-gray {
  color: #646464;
}

.text-color.-green {
  color: #38c172;
}

body {
  background-color: whitesmoke;
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

strong {
  font-weight: 700;
}

.main-wrapper {
  font-size: 1.5em;
  position: relative;
  min-height: 100vh;
}

[type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #D62888;
  background-color: #D62888;
}

[type=checkbox]:disabled + span:not(.lever) {
  cursor: not-allowed;
}

label {
  font-size: 0.8em;
}

ol.circle,
ul.circle {
  padding-left: 1em;
}

ol.circle > li,
ul.circle > li {
  list-style-type: disc;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border: 2px solid #D62888;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after {
  background-color: #D62888;
}

.loading-section {
  min-width: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-section .spinner-pink-only {
  border-color: #D62888;
}

.loading-section.hidden {
  display: none;
}

.placeholder {
  pointer-events: none;
}

.btn {
  box-shadow: none;
}

.btn.pink {
  background-color: #D62888 !important;
  color: #fff !important;
}

.btn.pink.inverted {
  background-color: transparent !important;
  color: #D62888 !important;
  border: 1px solid #D62888;
}

.btn.white {
  background-color: #fff !important;
  color: #000 !important;
}

.btn.green {
  background-color: #38c172 !important;
  color: #fff !important;
}

.btn.green.inverted {
  background-color: transparent !important;
  color: #38c172 !important;
  border: 1px solid #38c172;
}

.btn.red {
  background-color: #e3342f !important;
  color: #fff !important;
}

.btn.red.inverted {
  background-color: transparent !important;
  color: #e3342f !important;
  border: 1px solid #e3342f;
}

.btn.orange {
  background-color: #ea6c00 !important;
  color: #fff !important;
}

.btn.orange.inverted {
  background-color: transparent !important;
  color: #ea6c00 !important;
  border: 1px solid #e3342f;
}

.btn:hover {
  box-shadow: none;
}

.btn-flat.underlined {
  border-bottom: 1px solid #D62888;
  color: #D62888;
  font-weight: 700;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: unset;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #D62888 !important;
}

.next-entry {
  top: 30%;
  right: 0;
  z-index: 10;
  position: absolute;
}

.prev-entry {
  top: 30%;
  left: 0;
  z-index: 10;
  position: absolute;
}

nav {
  background-color: transparent;
  box-shadow: none;
  padding: 1.75em;
  height: auto;
}

nav .nav-wrapper {
  display: flex;
}

nav .brand-logo > img {
  max-width: 108px;
}

nav .desktop-nav {
  padding-left: 7em;
  padding-top: 1em;
}

nav .desktop-nav > li > a {
  font-size: 0.75em;
}

nav .sidenav-trigger {
  position: absolute;
  right: 0;
  top: 0;
}

nav .sidenav {
  padding-top: 2em;
  background-color: #05a8d1;
}

nav .sidenav > li > a {
  font-size: 1em;
  color: #fff;
}

footer.page-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1em;
  padding-bottom: 0.25em;
  background-color: #05a8d1;
}

footer.page-footer .input-field.col label,
footer.page-footer .input-field.col label.active {
  color: #fff;
  pointer-events: none;
}

footer.page-footer .input-field.col input,
footer.page-footer .input-field.col input.active {
  border-bottom: 1px solid #FEFA04 !important;
  color: #fff;
}

.home ._welcome {
  font-family: "tourmalinebold";
  font-size: 2em;
}

.home ._highlight {
  font-family: "tourmalinelines";
  font-size: 3em;
}

.bg-kidlat {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 100px);
  z-index: -1;
}

.modal {
  color: #5f5f5f;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.main-wrapper .sub-container {
  height: 100%;
  padding-bottom: 1em;
  flex: 1;
  background: url("/images/bg-kidlat.png") right top/contain no-repeat;
}

@media (max-width: 600px) {
  .home {
    margin-top: 4em;
    text-align: center;
  }

  .home ._welcome {
    font-size: 1em;
  }

  .home ._highlight {
    font-size: 1.5em;
  }

  .home .blurb {
    font-size: 0.5em;
  }

  .modal {
    width: 100%;
    top: 0 !important;
    height: 100% !important;
    max-height: 100%;
  }

  .main-wrapper .sub-container {
    background: unset;
  }
}

ul.stepper.horizontal {
  margin: 0;
  text-align: left;
}

ul.stepper.horizontal .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.stepper.horizontal ol.small {
  font-size: 12px;
}

ul.stepper.horizontal .step .step-title {
  font-size: 0.5em;
  pointer-events: none;
}

ul.stepper.horizontal .step .step-title .material-icons {
  color: #646464;
}

ul.stepper.horizontal .step .step-content {
  padding-bottom: 0;
}

ul.stepper.horizontal .step .step-content p {
  font-size: 0.65em;
}

ul.stepper.horizontal .step .step-content .field.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.stepper.horizontal .step .step-content .field.inline > label {
  font-size: 0.65em;
  flex-grow: 1;
}

ul.stepper.horizontal .step .step-content .field.inline > .input-field {
  width: 60%;
}

ul.stepper.horizontal .step .step-content .field.inline > .input-field input[type=text],
ul.stepper.horizontal .step .step-content .field.inline > .input-field input[type=date] {
  color: #646464;
  padding-left: 0.5em;
  height: 2em;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
}

ul.stepper.horizontal .step .step-content .field.inline > .input-field input[type=text].invalid {
  border: 1px solid #e3342f;
}

ul.stepper.horizontal .step .step-content .field.inline > .input-field.w-100 {
  width: 100%;
}

ul.stepper.horizontal .step.active .step-title::before,
ul.stepper.horizontal .step.step.done .step-title::before {
  background-color: #D62888;
}

ul.stepper.horizontal .step::after {
  height: 0 !important;
}

ul.stepper.horizontal .step .step-actions {
  position: relative !important;
}

ul.stepper.horizontal .number-indicator {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  background: #b4b4b4;
  color: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

ul.stepper.horizontal input.disabled {
  background-color: #f5f5f5;
}

ul.stepper.horizontal .credits-container > .row,
ul.stepper.horizontal .credits-container .file-field,
ul.stepper.horizontal .key-files-container > .row,
ul.stepper.horizontal .key-files-container .file-field,
ul.stepper.horizontal .supporting-files-container > .row,
ul.stepper.horizontal .supporting-files-container .file-field,
ul.stepper.horizontal .reference-container > .row,
ul.stepper.horizontal .reference-container .file-field {
  position: relative;
}

ul.stepper.horizontal .credits-container .delete-node,
ul.stepper.horizontal .key-files-container .delete-node,
ul.stepper.horizontal .supporting-files-container .delete-node,
ul.stepper.horizontal .reference-container .delete-node {
  position: absolute;
  top: 21px;
  right: -36px;
  display: flex;
  width: 30px;
  height: 30px;
}

ul.stepper.horizontal .credits-container .delete-node .material-icons,
ul.stepper.horizontal .key-files-container .delete-node .material-icons,
ul.stepper.horizontal .supporting-files-container .delete-node .material-icons,
ul.stepper.horizontal .reference-container .delete-node .material-icons {
  line-height: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.stepper.horizontal .input-field.col label,
ul.stepper.horizontal .input-field.col label.active {
  pointer-events: none;
}

ul.stepper.horizontal .input-radio {
  display: block;
  margin: 0.25em;
  padding-left: 0.85em;
}

ul.stepper.horizontal .indent-left {
  width: 45%;
}

.files-list {
  display: inline-flex;
}

.files-list .files {
  width: 130px;
  height: 130px;
  margin: 0.25em;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d2cbcb;
  cursor: pointer;
}

.no-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2cbcb;
  color: #fff;
  min-height: 300px;
}

.dashboard .container {
  width: 90%;
}

.dashboard .header {
  padding-top: 0.5em;
  background-color: #5d59a5;
}

.dashboard .sub-nav {
  padding: 0.75em;
  background-color: #fff;
  color: #000;
}

.dashboard .sub-nav > .container {
  display: flex;
  justify-content: space-between;
}

.dashboard .material-icons {
  vertical-align: middle;
}

.dashboard .card {
  width: 85%;
  overflow-x: auto;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #000;
}

.dashboard .card.padded {
  padding: 2em;
}

.dashboard .card .light {
  color: #646464;
}

.dashboard .card .greetings {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.dashboard .card p {
  margin-top: 0;
  margin-bottom: 0;
}

.dashboard .card table {
  font-size: 0.75em;
}

.dashboard .card table thead {
  background-color: #5d59a5;
  color: #fff;
}

@media (max-width: 600px) {
  .dashboard .card {
    width: 100%;
  }
}

.error,
.login {
  height: 100%;
  padding-bottom: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error .header,
.login .header {
  background-color: #5d59a5;
  padding: 0.5em;
}

.error > .container,
.login > .container {
  color: #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  background-color: #3d3d3d;
  font-size: 0.6em;
}

